body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }

  .form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
  }

  .form-container h2 {
    color: #6366F1;
    text-align: center;
    margin-bottom: 20px;
  }

  .form-container label {
    display: block;
    margin-bottom: 5px;
    color: #6366F1;
    font-weight: bold;
  }

  .form-container input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  .form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6366F1;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .form-container button:hover {
    background-color: #4f46e5;
  }

  .toggle-link {
    text-align: center;
    margin-top: 10px;
  }

  .toggle-link a {
    color: #6366F1;
    text-decoration: none;
  }

  .toggle-link a:hover {
    text-decoration: underline;
  }
  /* .adminBtn{
    color: #6366F1;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    margin-left: 100px;
  } */